<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../gid-recommend-concepts.html">
<style>
	table, th, td {
		border: 1px solid grey;
		border-collapse: collapse;
	}
	td {
		text-align: center;
	}
</style>

<dom-module id="recommended-concepts">
	<template>

		<gid-recommend-concepts api-url="https://ql50yzu0fj.execute-api.us-east-1.amazonaws.com/dev"
								column = '200009' api-token = 'xxxxxxxxxxxxxxx'
								fetch-recommended-concepts = true
								recommendedconcepts = {{recommendedconcepts}}>
		</gid-recommend-concepts>
<!-- 		<template is="dom-if" if="[[isConceptRecommendedSuccess]]"> -->
			<template is="dom-if" if="[[recommendedconcepts.length]]">
				<div class="horizontal-section">
					<template is="dom-repeat" items="[[recommendedconcepts]]">
						<p></p>
						{{item.label}}
						<button type="button" id = "{{item.id}}" value = "YES" on-click = "verifyConcept">YES</button>
						<button type="button" id = "{{item.id}}" value = "NO" on-click = "verifyConcept">NO</button>
						<button type="button" id = "{{item.id}}" value = "MAYBE" on-click = "verifyConcept">MAYBE</button>
					</template>
				</div>
			</template>
<!-- 		</template> -->
<!-- 		<template is="dom-if" if="![[isConceptRecommendedSuccess]]"> -->
<!--             <p>{{response.developerMessage}}</p> -->
<!--         </template> -->
        
		<template is="dom-if" if="[[beVerified]]">
			<gid-recommend-concepts api-url="https://ql50yzu0fj.execute-api.us-east-1.amazonaws.com/dev"
									column = '6877887334376552697'
									api-token = 'xxxxxxxxxxxxxxx'
									be-verified = {{beVerified}}
									concept = "{{concept}}"
									verify-val = "{{verifyVal}}"
									verifiedconcepts = {{verifiedconcepts}}>
			</gid-recommend-concepts>
		</template>
<!-- 		<template is="dom-if" if="[[isConceptVerifySuccess]]"> -->
			<template is="dom-if" if="[[verifiedconcepts.length]]">
				<template is="dom-repeat" items="[[verifiedconcepts]]">
					<div class="horizontal-section">
						<p></p>
						<table style="width:50%">
							<tr>
								<th>Concept Label</th>
								<th>Is verified</th>
							</tr>
							<tr>
								<td>{{item.label}}</td>
								<td>{{item.assessment}}</td>
							</tr>
						</table>
					</div>
				</template>
			</template>
<!-- 		</template> -->
<!-- 		<template is="dom-if" if="![[isConceptVerifySuccess]]"> -->
<!--                 <p>{{response.developerMessage}}</p> -->
<!--         </template> -->
	</template>
	<script>
		(function () {
			'use strict';
			Polymer({
				is: 'recommended-concepts',
				properties: {
					concept: {
						type: String,
						notify: true,
						value: ''
					},
					column: {
						type: String,
						notify: true,
						value: ''
					},
					beVerified: {
						type: Boolean,
						notify: true
					},
					verifyVal:{
						type: String,
						notify: true,
						value: ''
					},
					apiUrl: {
						type: String,
						notify: true,
						value: ''
					},
					verifiedconcepts: {
						type: Array,
						notify: true,
						observer: 'verifiedConceptsObserver'
					},
					recommendedconcepts: {
						type: Array,
						notify: true,
						observer: 'recommendedConceptsObserver'
					},
					isConceptVerifySuccess: {
						type: Boolean,
						notify: true,
						value: false
					},
					isConceptRecommendedSuccess: {
						type: Boolean,
						notify: true,
						value: false
					},
				},
				verifyConcept: function(event){
					this.concept = event.currentTarget.id;
					this.verifyVal = event.currentTarget.value;
					this.beVerified = true;
				},
				verifiedConceptsObserver: function () {
	        	    if(this.verifiedconcepts.length > 0){
		  				if(this.verifiedconcepts[0]['errorCode']){
		  					this.isConceptVerifySuccess = false;
		  				}
		  				else{
		  					this.isConceptVerifySuccess =  true;
		  				}
		          	 }
		         },
		         recommendedConceptsObserver: function () {
		        	 if(this.recommendedconcepts.length > 0){
		  				if(this.recommendedconcepts[0]['errorCode']){
		  					this.isConceptRecommendedSuccess = false;
		  				}
		  				else{
		  					this.isConceptRecommendedSuccess =  true;
		  				}
		          	 }
		         }

			});
		})();


	</script>
</dom-module>
