<!--
  Wrapper data component for fetching and verifying recommended concepts
-->
<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../gid-api/gid-api.html">

<!--
`gid-recommend-concepts`

The `gid-recommend-concepts` element is a data component acting as a wrapper  on gid-api used for handling rest calls for  fetching
recommended concepts against a particular column and then verifying one/more concept(s)


<gid-recommend-concepts api-url="https://ql50yzu0fj.execute-api.us-east-1.amazonaws.com/dev"
column = '200009'  entity="RECOMMENDED-CONCEPTS"
recommendedconcepts = {{recommendedconcepts}}>
 </gid-recommend-concepts>
 
<gid-recommend-concepts
	api-url="https://ql50yzu0fj.execute-api.us-east-1.amazonaws.com/dev"
	column = '200009'
	be-verified = true
	concept = '100002'
	verify-val = 'YES'
	entity = "VERIFY-CONCEPT"
	verifiedconcepts = {{verifiedconcepts}}> 
	</gid-recommend-concepts>


@demo demo/index.html
-->
<dom-module id="gid-recommend-concepts">
    <template>
       
       <!-- fetch entity path  -->
        	<gid-api entity = '{{apiEntity}}' path='{{path}}'></gid-api>
       <!--  fetch entity path -->
       
       <!-- fetch recommended concepts  -->
	        <gid-api auto=false
	                 method='GET' api-url={{recommendedConceptUrl}} response='{{recommendedConceptResponse}}'
	                 api-timeout={{recommendedConceptParams}} api-params={{recommendedConceptParams}}></gid-api>
       <!-- fetch recommended concepts  -->
		
		<!-- verify concept -->
	        <gid-api auto=false
	                 method='PUT' api-url={{verifyConceptUrl}} response='{{verifyConceptResponse}}'
	                 api-timeout={{verifyConceptParams}} api-params={{verifyConceptParams}}></gid-api>
        <!-- verify concept -->

    </template>
    <script>
        (function () {
            'use strict';
            Polymer({
                is: 'gid-recommend-concepts',
                properties: {
                	verifyConceptUrl: {
                        type: String,
                        notify: true
                    },
                    verifyConceptTimeout: {
                        type: Number,
                        notify: true,
                        value: 0
                    },
                    verifyConceptResponse: {
                        type: Object,
                        notify: true,
                        observer: 'verifyResponseChanged'
                    },
                    verifyConceptParams: {
                        type: String,
                        notify: true
                    },
                    recommendedConceptUrl: {
                        type: String,
                        notify: true
                    },
                    recommendedConceptTimeout: {
                        type: Number,
                        notify: true,
                        value: 0
                    },
                    recommendedConceptResponse: {
                        type: Object,
                        notify: true,
                        observer: 'recommendedResponseChanged'
                    },
                    recommendedConceptParams: {
                        type: String,
                        notify: true
                    },
                    concept: {
                        type: String,
                        notify: true,
                        value: ''
                    },
                    apiUrl: {
                   	 type: String,
                        notify: true,
                        value: ''
                   },
                   entity: {
                       type: String,
                       notify: true,
                       value: ''
                   },
                   beVerified:{
	                   	 type: Boolean,
	                     notify: true,
	                     value: false
                 	},
                    column: {
                        type: String,
                        notify: true,
                        value: '',
                        observer: 'columnChanged'
                    },
                    verifyVal:{
                    	 type: String,
                         notify: true,
                         value: '',
                         observer: 'verifyValChanged'
                    },
                    verifiedconcepts: {
                    	type: Array,
                    	notify: true    
                   },
                   recommendedconcepts: {
	                   	type: Array,
	                   	notify: true    
                   },
                   path: {
                   	   type: String,
                       notify: true,
                       value: '',
                       observer: 'pathReceived'
                   },
                   apiEntity: {
                   	   type: String,
                       notify: true
                   }
                },
                pathReceived: function(){
                	var url = '';
                	var verify = '';
                	if(this.path){
                		var res = this.path.split(/{([^}]+)}/);
                		for (var i in res) {
                			if(!res[i].startsWith("/")){
                					if(this[res[i]]){
                						res[i] = this[res[i]];
                					}
                			}
                		}
               			url = this.apiUrl + res.join("");
               			if(this.column && !this.beVerified){
            	 			this.recommendedConceptUrl = url;
        	                this.recommendedConceptTimeout =  this.recommendedConceptTimeout - 1;
            	 		}
            	 		else if(this.column && this.verifyVal && this.beVerified){
            	 			this.verifyConceptUrl = url;
            	 			if(this.verifyVal === "YES"){
    	                    	verify = 'Y';
    	                    }
    	                    else if(this.verifyVal === "NO"){
    	                    	verify = 'F';
    	                    }
    	                    else{
    	                    	verify = 'N';
    	                    }
    	                   	this.verifyConceptParams= JSON.stringify({
    	           	        	  "hv": verify});
            	 			this.verifyConceptTimeout =  this.verifyConceptTimeout - 1;
            	 		}
                		
                	}
                },
                columnChanged: function(){
            	 		if(this.column && !this.beVerified){
            	 			if (!this.apiUrl) {
	            	 			this.recommendedConceptUrl = this.importPath + 'assets/json/' + this.entity.toLowerCase() + '.json';
	        	                this.recommendedConceptTimeout =  this.recommendedConceptTimeout - 1;
            	 			}
            	 			else{
            	 				this.getEntityPath();
            	 			}
                	}
                },
	             verifyValChanged: function () {
	            	 if(this.column && this.verifyVal && this.beVerified){
	            		 if (!this.apiUrl) {
		     	 			//this.verifyConceptUrl = this.importPath + 'assets/json/' + this.entity.toLowerCase() + '.json';
		     	 			//this.verifyConceptTimeout =  this.verifyConceptTimeout - 1;
	            		 }
	            		 else {
	     	 				this.getEntityPath();
	     	 			}
	     	 		}
	            },
                getEntityPath: function(){
                	if (this.entity) {
                		this.apiEntity = this.entity;
                	}
                },

                verifyResponseChanged: function (newvalue, oldvalue) {
                	this.verifiedconcepts = [];
                	if (newvalue != null) {
                        this.async(function () {
                            this.verifiedconcepts = this.verifiedconcepts.concat(newvalue);
                        }, 500);
                	}
                },
                recommendedResponseChanged: function(newvalue, oldvalue) {
                	this.recommendedconcepts = [];
                	if (newvalue != null) {
                        this.async(function () {
                            this.recommendedconcepts = this.recommendedconcepts.concat(newvalue.recommendedconcepts);
                        }, 500);
                	}
                }
            });
        })();


    </script>
</dom-module>
